
<ion-header>
    <ion-toolbar color="white">
        <ion-title>
            <div class="company-logo">
                <img src="assets/imgs/logo.png">
            </div>
        </ion-title>
        <!-- <ion-buttons end (click)="share()" *ngIf="karigar_detail.user_type!=3">
            <button ion-button icon-only class="share-text">
                <ion-icon name="share" color="primary" ></ion-icon> {{'Share App' | translate}}
            </button>
        </ion-buttons> -->

        <ion-buttons end class="mr10">
            <button ion-button icon-only  (click)="gotoNotification()">
                <ion-icon name="notifications" color="primary"></ion-icon>
                <span *ngIf="notify_cn > 0" class="custom-point notification-count">{{notify_cn}}</span>
            </button>

            <button ion-button (click)="toggleValue('false')" clear color="secondary" icon-only>
                <ion-icon name="menu"></ion-icon>
            </button>

            <!-- <button ion-button icon-only  (click)="logout()">
                <ion-icon name="power" color="primary"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Pull to refresh' | translate}}" refreshingSpinner="circles" refreshingText="{{'Refreshing...'| translate}}">
        </ion-refresher-content>
    </ion-refresher>
  

    <div class="slide-image">
        <ion-slides *ngIf="appbanner.length && appbanner.length>1 " [initialSlide]="0" pager autoplay="1000" speed="1000" loop="true">
            <ion-slide *ngFor="let row of appbanner">
                <img [src]="uploadUrl+row.banner">
            </ion-slide>
        </ion-slides>
        <div *ngIf="appbanner.length==1">
            <img [src]="uploadUrl+appbanner[0].banner">
        </div>
        <div *ngIf="appbanner.length==0">
            <img src="../../assets/imgs/appbanner.png">
        </div>
    </div>


    <div class="pl16 pr16">
        <div class="center-card">
            <div class="cs-profile" >
                <img src="assets/imgs/man.svg" *ngIf="karigar_detail.profile ==''">
                <img src="{{uploadUrl+karigar_detail.profile}}"  (click)="viewProfiePic()" *ngIf="karigar_detail.profile != ''">
                <ion-icon name="person" *ngIf="karigar_detail.profile"></ion-icon>
            </div>

            <div class="profile-progress">
                <p>{{'Your profile' | translate}} <span>{{karigar_detail.profile_completed}}%</span> {{'complete' | translate}}</p>
                <div class="out">
                    <div class="in  {{'wp' + karigar_detail.profile_completed}}">&nbsp;</div>
                </div>
                <h1>{{'Welcome' | translate}}</h1>
                <h2>{{karigar_detail.full_name | titlecase}}</h2>
               <p>{{karigar_detail.mobile_no}}</p>
            </div>


            <div class="top-block mb16">
                <div class="cs-name">
                    <h2>{{last_point}}</h2>
                    <p>{{'Last 7 Days point' | translate}}</p>
                </div>
                <div class="cs-name">
                    <h2>{{total_balance_point}}</h2>
                    <p>{{'Total Points' | translate }}</p>
                </div>
                
            </div>

            <button class="capitalize" ion-button icon-start round block color="secondary" (click)="scanCoupon()"  *ngIf="karigar_detail.user_type != 6">
                <ion-icon name="qr-scanner"></ion-icon>
                {{'Scan QR Code' | translate}}
              </button>
           
        </div>
        
        
        <div class="outline-btn"(click)="goRedeemType();">
            {{'Redeem Your Reward Points' | translate}}
        </div>
    </div>
    
  
    
</ion-content>
 

<div class="sidebar"  [ngClass] ="{'active' : toggle == true}"  (click)="toggleValue('true')">
    <div class="side-menu">
        <ion-list>
            <ion-item class="transparent" (click)="goOnDigitalcatPage('catelog');">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Product Catalogues' | translate}} 
            </ion-item>


            <!-- <ion-item class="transparent" (click)="goOnProductsPage();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Digital catalogues' | translate}}
            </ion-item> -->

             <!-- <ion-item class="transparent" (click)="goTOSite();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                 <p *ngIf="karigar_detail.user_type == 4" >{{'View Site' | translate}}</p>
                <p *ngIf="karigar_detail.user_type == 5">{{'Site' | translate}}</p>
            </ion-item> -->

            <ion-item class="transparent" (click)="goOnSuper30Page();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Leaderboard' | translate}}
            </ion-item>

            <ion-item class="transparent" (click)="gotoChangeLang();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Change Language' | translate}}
            </ion-item>

            <!-- <ion-item class="transparent" (click)="goOnFurniturePage();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Furniture Ideas' | translate}}
            </ion-item> -->

              <!-- <ion-item class="transparent" (click)="goOnNewsPage();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Latest News' | translate}}
            </ion-item> -->

             <!-- <ion-item class="transparent" (click)="gotoNotification();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Notification' | translate}}
            </ion-item> -->


            <!-- <ion-item class="transparent" (click)="goOnArchitectList();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/person.svg">
                </ion-icon>
                {{'Dealer' | translate}}
            </ion-item> -->

            <!-- <ion-item class="transparent" (click)="goOnPlumberList();" *ngIf="karigar_detail.user_type == 2">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Plumber' | translate}}
            </ion-item> -->

              <ion-item class="transparent" (click)="goOnPurchaseListPage();"  *ngIf="karigar_detail.user_type == 6">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Earn Point' | translate}}
            </ion-item>

            <ion-item class="transparent" (click)="goOnPointeListPage();"  *ngIf="karigar_detail.user_type != 6">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Point History' | translate}}
            </ion-item>

            <!-- <ion-item class="transparent" (click)="gotoChangeLang();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/book.svg">
                </ion-icon>
                {{'Change Language' | translate}}
            </ion-item> -->

            <ion-item class="transparent" (click)="goOnOffersListPage();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/offer.svg">
                </ion-icon>
                {{'Offers' | translate}}
            </ion-item>

            <ion-item class="transparent" (click)="goOnGiftGallary();"  *ngIf="karigar_detail.user_type == 6">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/gift.svg">
                </ion-icon>
                {{'Gift Gallery' | translate}}
            </ion-item>

            <!-- <ion-item class="transparent" (click)="gotoHistory();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/gift.svg">
                </ion-icon>
                {{'Gift Tracker' | translate}}
            </ion-item> -->


            <ion-item class="transparent" (click)="goRedeemType();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/redeem.svg">
                </ion-icon>
                {{'Redeem My Points' | translate}}
            </ion-item>
            

            <ion-item class="transparent" (click)="gotoHistory();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/swap_horiz.svg">

                </ion-icon>
                {{'Redeem Tracker' | translate}}
            </ion-item>

         
                <ion-item class="transparent" (click)="goOnFeedbackPage()">
                    <ion-icon item-start color="primary">
                        <img src="assets/navigation/chat.svg">

                    </ion-icon>
                    {{'Chat with us' | translate}}
                </ion-item>



            <ion-item class="transparent" (click)="goOnVideoPage();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/video.svg">

                </ion-icon>
                {{'Videos' | translate}}
            </ion-item>

            <ion-item class="transparent" (click)="goOnfaqPage();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/faq.svg">
                </ion-icon>
                {{'FAQ' | translate}}
            </ion-item>

            <ion-item class="transparent" (click)="goOnAdvanceTextPage();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/about.svg">

                </ion-icon>
                {{'About Us' | translate}}
            </ion-item>

            <ion-item class="transparent" (click)="goOnContactPage();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/phone.svg">

                </ion-icon>
                {{'Contact Us' | translate}}
            </ion-item>
            <ion-item class="transparent" (click)="viewProfie();">
                <ion-icon item-start color="primary">
                    <img src="assets/navigation/person.svg">

                </ion-icon>
                {{'Profile' | translate}}
            </ion-item>
        </ion-list>
    </div>
</div>